.card {
    margin-bottom: 20px; 
    text-align: center; 
    border: 4px groove rgb(174,74,77);
    background-color: rgb(246,122, 116);

}
.card-height {
    height: 350px;
  }  
.card-img-top {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
}
img {
    max-width: 300px;
    height: auto;
}  
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 15px;
}
.img-B{
    max-width: 500px;
    max-height: 250px;
    width: auto;
    height: auto;
}
  
  
  