body{
    background-color: rgb(80, 56, 70);
}
nav{
    background-color: rgb(30,30,30);
}
p{
    font-size: larger;
    font-style: italic;
    font-family:bold;
}
.d-flex{
   padding-top: 20px;
}
.BG {
  padding-top: 80px;
  left: 20px;
  width: 100%;
}
h1{
  background-color: rgb(57, 38, 57);
  color: white;
  border: 5px inset rgb(39, 28, 48)
}
.Instagram{
  background-color: rgb(225, 48, 108);
  border: none;
}
.Instagram:active,
.Instagram:focus,
.Instagram:hover {
  background-color: rgb(225, 48, 108) !important;
  border-color: rgb(225, 48, 108) !important;
  animation: none !important;
}
.YouTube{
  background-color: rgb(196,48,43);
  border: none;
} 
.YouTube:active,
.YouTube:focus,
.YouTube:hover {
  background-color: rgb(196,48,43) !important;
  border-color: rgb(196,48,43) !important;
  animation: none !important;
}
.TikTok{
  background-color: rgb(37, 244, 238);
  border: none;
} 
.TikTok:active,
.TikTok:focus,
.TikTok:hover {
  background-color: rgb(37, 244, 238) !important;
  border-color: rgb(37, 244, 238) !important;
  animation: none !important;
}
.Discord{
  background-color: rgb(88, 101, 242);
  border: none;
} 
.Discord:active,
.Discord:focus,
.Discord:hover {
  background-color: rgb(88, 101, 242) !important;
  border-color: rgb(88, 101, 242) !important;
  animation: none !important;
}
footer{
  background-color:rgb(30,30,30);
}